body[theme="light"] {
	background: white;
	color: black;
}
body[theme="dark"] {
	background: black;
	color: white;
}
nav {
	height: auto;
	width: 100%
}
button.icon {
	width: 4em;
	height: 4em;
	background: none;
	border: none;
}
