body[theme="light"] {
	background: white;
	color: black;
}
body[theme="dark"] {
	background: black;
	color: white;
}
nav {
	height: 4em;
	width: 100%
}
button.icon {
	width: 100%;
	height: 100%;
	background: none;
	border: none;
}
