:root {
	font-size: 16px;
}
body[theme = "light"] {
	background: white;
	color: black;
	& a {
		color: blue;
	}
	& nav {
		border-bottom: 1px solid black;
	}
}
body[theme="dark"] {
	background: black;
	color: white;
	& a {
		color: yellow;
	}
	& nav {
		border-bottom: 1px solid white;
	}
}
preload {
	display: none;
	& img {
		display: none;
	}
}
nav {
	position: sticky;
	top: 0;
	height: 2.5rem;
	width: 100%;
	& ul {
		display: flex;
		list-style-type: none;
	}
}
button.icon {
	width: 2.5em;
	height: 2.5em;
	background: none;
	border: none;
}
footer {
	position: fixed;
	bottom: 0;
}
